site_name: PaddleSlim Docs
repo_url: https://github.com/PaddlePaddle/PaddleSlim
nav:
- Home: index.md
- API:
  - 量化: api/quantization_api.md
  - 剪枝与敏感度:  api/prune_api.md
  - 模型分析: api/analysis_api.md
  - 知识蒸馏: api/single_distiller_api.md
  - SA搜索: api/nas_api.md
  - 搜索空间: api/search_space.md
  - 硬件延时评估表: table_latency.md
- 教程:
  - 离线量化: tutorials/quant_post_demo.md
  - 量化训练: tutorials/quant_aware_demo.md
  - Embedding量化: tutorials/quant_embedding_demo.md
  - SA搜索: tutorials/nas_demo.md
  - 知识蒸馏: tutorials/distillation_demo.md
- 算法原理: algo/algo.md
- 模型库: model_zoo.md

theme:
    name: readthedocs
    highlightjs: true

markdown_extensions:
  - admonition
  - codehilite:
      guess_lang: true
      linenums: true
  - toc:
      permalink: "#"
  - footnotes
  - meta
  - def_list
  - pymdownx.arithmatex
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.magiclink
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences
  - pymdownx.tasklist
  - pymdownx.tilde
  - mdx_math

extra_javascript:
  - mathjax-config.js
  - https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML
