#  ------------ General options ----------------------------------------
save_path = "./save_cifar100/"
dataPath = "datasets/Datasets/cifar"
dataset = "cifar100" # options: imagenet | cifar100
nGPU = 1  # number of GPUs to use by default
GPU = 0  # default gpu to use, options: range(nGPU)
visible_devices = "0"
# ------------- Data options -------------------------------------------
nThreads = 8  # number of data loader threads

# ---------- Optimization options for S --------------------------------------
nEpochs = 400  # number of total epochs to train 400
batchSize = 200  # batchsize
momentum = 0.9  # momentum 0.9
weightDecay = 1e-4  # weight decay 1e-4
opt_type = "SGD"
warmup_epochs = 4 # number of epochs for warmup

lr_S = 0.0001 # initial learning rate = 0.00001
lrPolicy_S = "multi_step"  # options: multi_step | linear | exp | const | step
step_S = [100,200,300]  # step for linear or exp learning rate policy default [100, 200, 300]
decayRate_S = 0.1 # lr decay rate

# ---------- Model options ---------------------------------------------
experimentID = "cifar100_4bit_"
nClasses = 100  # number of classes in the dataset

# ---------- Quantization options ---------------------------------------------
qw = 4
qa = 4

# ----------KD options ---------------------------------------------
temperature = 20
alpha = 1

# ----------Generator options ---------------------------------------------
latent_dim = 100
img_size = 32
channels = 3

lr_G = 0.001       # default 0.001
lrPolicy_G = "multi_step"  # options: multi_step | linear | exp | const | step
step_G = [100,200,300]   # step for linear or exp learning rate policy
decayRate_G = 0.1 # lr decay rate
b1 = 0.5
b2 = 0.999