Global:
  device: gpu
  seed: 1024
  quant_model_dir: ./GPT_345_QAT_wo_analysis
  float_model_dir: ./GPT_345M_Baseline
  model_filename: model.pdmodel
  params_filename: model.pdiparams
  quantizable_op_type: ["mul", "matmul", "matmul_v2"]
  resume: False
  reader_config: ./configs/gpt_reader.yaml
  cloze_eval: True # True for LAMBADA Dataset; False for WikiText
  
  

      